<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>果物販売管理</title>
</head>
</html>

<body>
    <h1>果物販売管理</h1>
    <table>
        <tr>
            <td>
                <label for="template">template</label>
                <textarea name="template" id="template"></textarea>
                <br>
                <label for="template">template</label>
                <textarea name="template" id="template"></textarea>
                <br>
                <label for="template">template</label>
                <textarea name="template" id="template"></textarea>
            </td>
        </tr>
    </table>
    <h2>管理TOP</h2>
        <a href="">
            果物マスタ管理
        </a><br>
        <a href="">
            販売情報管理
        </a><br>
        <a href="">
            販売統計情報
        </a>
    <h3>テーブル関連</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>単価</th>
                <th>登録日時</th>
                <th>編集/削除</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>単価</th>
                <th>登録日時</th>
                <th>編集/削除</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>単価</th>
                <th>登録日時</th>
                <th>編集/削除</th>
            </tr>
            <td>
                <button>更新</button>
            </td>
        </table>
</body>