{% extends 'base.html' %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'loginform.css' %}">
{% endblock customcss %}

{% block title %}
<title>登録</title>
{% endblock title %}

{% block content %}

<body class="text-center">
    <div class="container">
        <form class="form-signin" method="POST">{% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">登録</h1>
            <label class="visually-hidden">ユーザ名</label>
            <input type="text" class="form-control" placeholder="ユーザ名" name="username">
            <label for="inputPassword" class="visually-hidden">パスワード</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" name="password" required>
            <button class="w-100 btn btn-lg btn-primary" type="submit">登録</button>
        </form>
    </div>
</body>
{% endblock content %}