{% extends 'base.html' %}

{% block content %}

<H2>販売情報管理</H2>
<div>
    <a href="{% url 'index' %}">TOP</a> > 販売情報管理
</div>

{% if user.is_authenticated %}

<div>
    <h3>累計</h3>
    <h3>{{ total_profit }}円</h3>
</div>
<div>
    <h3>月別</h3>
    <table class="table table-striped">
        <thead >
            <th scope="col" style="width:10%">月</th>
            <th scope="col" style="width:10%">売り上げ</th>
            <th scope="col" style="width:50%">内訳</th>
        </thead>
        
        <tbody>
            {% for item in 3months_sales %}
            <tr class="table-active">
                <td>{{ item.month }}</td>
                <td>{{ item.all }}円</td>
                <td>{{ item.detail }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3>日別</h3>
    <table class="table table-striped">
        <thead >
            <th scope="col" style="width:10%">日</th>
            <th scope="col" style="width:10%">売り上げ</th>
            <th scope="col" style="width:50%">内訳</th>
        </thead>
        
        <tbody>
            {% for item in 3days_sales %}
            <tr class="table-active">
                <td>{{ item.month }}</td>
                <td>{{ item.all }}円</td>
                <td>{{ item.detail }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock content %}